@import "tailwindcss";


@theme {
  --color-bg1: #292F36;
  --color-bg2: #1A1E23;
  --color-mint: #12F7D6;
  --color-aqua: #98FAEC;
  --color-gray: #43454D;  
  --font-primary: 'ubuntu', sans-serif;
  --font-secondary: 'ibm-plex-mono-thin', monospace;
}

@keyframes border-trace {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animate-border-line {
  stroke-dasharray: 200; /* আলোর লাইনের দৈর্ঘ্য (বাড়িয়ে কমিয়ে দেখতে পারেন) */
  animation: border-trace 6s linear infinite;
}